* {
    background-color: #161320;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 1rem;
}

.nav-bar {
    border-bottom: 1px dotted
    hsla(0, 0%, 100%, 0.2);
}

.nav-bar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: baseline;
    background-color: transparent;
    padding: 0px;
    margin: 0;
}

.nav-bar ul li {
    display: inline-block;
}

.item {
    height: 32px;
    border: 2px solid hsl(279, 15%, 18%);
    background-color: #3a3350;
    border-radius: 16px;
    flex-shrink: 0;
}

.logo {
    margin-right: auto;
}

.ball {
    flex-basis: 32px;
}

h1 {
    font-size: xx-large;
    background-color: #272236;
    border-radius: 0.5em;
    padding: 1rem;
    text-align: center;
}

h3 {
    font-size: large;
    background-color: #352e49;
    border-radius: 0.5em;
    padding: 1rem;
    text-align: center;
}

.content-container {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 8px;
}

ul,ol {
    background-color: #110e1a;
    border-radius: 0.5em;
}

ul *,ol * {
    background-color: transparent;
}